<!DOCTYPE html>
<html>
<head>
	<title>Search by Campus</title>
</head>
<body>
<h1>Search by Campus page</h1>
<p>Search by Campus Form</p>

<form action="/students" method="POST">
	<input type="text" name="campus" placeholder="Campus">
	<button type="submit">Search</button>
</form>

</body>
</html>