#FinalOctopus {
	position: relative;
	text-align: center;

}

#octopus {
	position: absolute;
	z-index: -1;
	top: 125px;
}
#hat {
	position: absolute;
	z-index: 0;
	top: 30px;
}
#glasses {
	position: absolute;
	z-index: 1;
	left: 50px;
	top:225px;
}
